.container-1 {
    background-color: #1F2937;
    margin: -10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-2 {
    display: flex;
    margin: auto 300px;
    align-items: center;
    padding: 50px;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.coke-can {
    width: 300px;
    height: 300px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.middle-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middle-5 {
    display: flex;
    gap: 52px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
}

.middle-2,
.middle-3,
.middle-4 {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: 50px;
    border-color: #1F2937;
    font-size: 18px;
}
img {
    max-width: 100%;
    height: auto;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 0 -10px;
    flex-wrap: wrap;
    padding: 100px 300px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 50px;
}

.ctac1 {
    background-color: #3882f6;
    width: 600px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ctac2 {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 52px;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 24px;
}

.ctacc {
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    height: 50px;
    margin: 0 -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}