.container-1 {
    background-color: #1F2937;
    margin: -10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-2 {
    display: flex;
    margin: auto 300px;
    align-items: center;
    padding: 50px;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.coke-can {
    width: 300px;
    height: 300px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.middle-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middle-5 {
    display: flex;
    gap: 52px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
}

.middle-2,
.middle-3,
.middle-4 {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: 50px;
    border-color: #1F2937;
    font-size: 18px;
}
img {
    max-width: 100%;
    height: auto;
}